<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.comment.mapper.CommentMapper">

    <resultMap id="comremap" type="Comment">
        <id column="cID" property="cID" />
        <result column="uID" property="uID" />
        <result column="cIDreply" property="cIDreply" />
        <result column="createTime" property="createTime" />
        <result column="cText" property="cText" />
        <result column="isDel" property="isDel" />
        <association property="commentdata" javaType="com.dreamwolf.entity.comment.Commentdata">
            <id column="cID" property="cID"/>
            <result column="cLikeNum" property="cLikeNum" />
            <result column="cUnLikeNum" property="cUnLikeNum" />
        </association>

    </resultMap>

    <select id="selectrpid" resultMap="comremap">
        SELECT *,(t2.`cLikeNum`-t2.`cUnLikeNum`) AS aaa FROM `comment` t1 LEFT JOIN `commentdata` t2 ON t1.`cID`=t2.cID
        <where>
            <if test="cIDreply !=null">
                cIDreply =#{cIDreply}
            </if>
        </where>
        ORDER BY aaa DESC LIMIT #{pn},#{ps}
    </select>

    <select id="selectbvidint" resultType="int">
        SELECT COUNT(cID) FROM `comment`
        <where>
            `cID` IN
            <foreach collection="cid" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectuidlist" resultType="int">
        SELECT cID FROM `comment`
        <where>
            <if test="uID!=null">
                `uID`=#{uID}
            </if>
        </where>
    </select>

    <select id="commentuidlist" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="array!=null and array.length>0">
                cID IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND `cIDreply`=0
            </if>
        </where>
    </select>

    <select id="selectarrlist" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            `cID`=#{cID}
        </where>
    </select>

    <select id="commselectlistuid" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="uID!=null">
                uID=#{uID} AND `cIDreply` !=0
            </if>
        </where>
    </select>

    <select id="commselectlistcid" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="cid!=null">
                cID=#{cid}
            </if>
        </where>
    </select>

    <select id="commcountcIDreply" resultType="int">
         SELECT COUNT(*) FROM `comment`
         <where>
             <if test="cIDreply!=null">
                 `cIDreply`=#{cIDreply}
             </if>
         </where>
    </select>

    <select id="selelistcIDreply" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="cIDreply!=null">
                `cIDreply`=#{cIDreply}
            </if>
        </where>
    </select>


    <select id="comarrlist" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="array!=null and array.length>0">
                `cID` IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                <foreach collection="array" item="id" open=" ORDER BY FIELD(cID," close=")" separator=",">
                    ${id}
                </foreach>
            </if>
        </where>
    </select>


    <select id="comdatalisttime" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="array!=null and array.length>0">
                `cID` IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND `cIDreply` =0 ORDER BY `createTime` DESC LIMIT 0,10
            </if>
        </where>
    </select>

    <select id="comdatalisttimepage" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="array!=null and array.length>0">
                `cID` IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND `cIDreply` =0 ORDER BY `createTime` DESC LIMIT #{next},10
            </if>
        </where>
    </select>



    <select id="commcidlist" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
                `cID`=#{cID} AND `cIDreply`=0
        </where>
    </select>

    <select id="commselectarrcidlist" resultMap="comremap">
        SELECT * FROM `comment`
        <where>
            <if test="array!=null and array.length>0">
                `cID` IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND `cIDreply`=0
            </if>
        </where>
    </select>



</mapper>
