<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.comment.mapper.CommentdataMapper">

    <resultMap id="comdatemap" type="Commentdata">
        <id column="cID" property="cID"/>
        <result column="cLikeNum" property="cLikeNum"/>
        <result column="cUnLikeNum" property="cUnLikeNum"/>
    </resultMap>

    <select id="selectcID" resultMap="comdatemap">
        SELECT * FROM `comment` left join commentdata c on comment.cID = c.cID
        <where>
            <if test="cID!=null">
                comment.cID=#{cID}
            </if>
        </where>
    </select>

    <select id="commdatalist" resultMap="comdatemap">
        SELECT comment.cid,(`cLikeNum`-`cUnLikeNum`) AS aaa FROM `comment` left join commentdata c on comment.cID = c.cID
        <where>
            <if test="array!=null and array.length>0">
                comment.`cID`IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY aaa DESC LIMIT 0,3
    </select>


    <select id="commdatalistarr" resultMap="comdatemap">
        SELECT comment.cid,(`cLikeNum`-`cUnLikeNum`) AS aaa FROM `comment` left join commentdata c on comment.cID = c.cID
        <where>
            <if test="array!=null and array.length>0">
                comment.`cID`IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                ORDER BY aaa DESC LIMIT 0,10
            </if>
        </where>
    </select>


    <select id="commdatalistpage" resultMap="comdatemap">
        SELECT comment.cid,(`cLikeNum`-`cUnLikeNum`) AS aaa FROM `comment` left join commentdata c on comment.cID = c.cID
        <where>
            <if test="array!=null and array.length>0">
                comment.`cID`IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                ORDER BY aaa DESC LIMIT #{next},#{ps}
            </if>
        </where>
    </select>


</mapper>
