<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.member.business.mapper.CoinHistoryMapper">
    <insert id="addcoin" parameterType="com.dreamwolf.entity.member.CoinHistory">
        INSERT INTO `coinhistory`(`uID`,`vID`)
        VALUES (#{uID},#{vID});
    </insert>
    <select id="coinhistory" resultType="com.dreamwolf.entity.member.CoinHistory">
        SELECT * FROM `coinhistory`
        WHERE  `uID`=#{cID} AND `vID`=#{vID}
    </select>
</mapper>
