<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.video.mapper.VideocommentMapper">

    <resultMap id="commmap" type="videocomment">
        <id property="bvID" column="bvID" />
        <result property="cID" column="cID" />
    </resultMap>

    <select id="selectbvid" resultMap="commmap">
        SELECT * FROM `videocomment`
        <where>
            <if test="bvID!=null">
                bvID=#{bvID}
            </if>
        </where>
    </select>

</mapper>
