<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.video.mapper.VideoMapper">

    <resultMap id="videomap" type="Video">
        <id column="bvID" property="bvID" />
        <result column="uID" property="uID" />
        <result column="bvCoverImgPath" property="bvCoverImgPath" />
        <result column="bvVideoPath" property="bvVideoPath" />
        <result column="bvTitle" property="bvTitle" />
        <result column="bvDesc" property="bvDesc" />
        <result column="bvPostTime" property="bvPostTime" />
        <result column="bvChildZoning" property="bvChildZoning" />
        <result column="bvIsDel" property="bvIsDel" />
        <result column="duration" property="duration" />
    </resultMap>

    <select id="selectridcount" resultType="int">
        SELECT COUNT(*) FROM `video` WHERE `bvChildZoning` =#{rid}
    </select>

    <select id="selectlispagelsit" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            `bvID` IN
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <foreach collection="array" item="id" open=" ORDER BY FIELD(bvID," close=")" separator=",">
                ${id}
            </foreach>
            LIMIT 0,10
        </where>
    </select>


    <select id="selectvideovlidlsit" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            `bvID` IN
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <foreach collection="array" item="id" open=" ORDER BY FIELD(bvID," close=")" separator=",">
                ${id}
            </foreach>
            LIMIT #{pn},#{ps}
        </where>
    </select>

    <select id="videoselezoingid" resultType="Integer">
        SELECT bvID FROM `video` WHERE `bvChildZoning` =#{rid}
    </select>

    <select id="videolistselectpage" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            `bvChildZoning`=#{rid} ORDER BY `bvPostTime` DESC LIMIT #{pn},#{ps}
        </where>
    </select>


    <select id="videoliselectridlist" resultMap="videomap">
        SELECT * FROM video WHERE `bvChildZoning`=#{rid} ORDER BY `bvPostTime` DESC LIMIT #{pn},#{ps}
    </select>

    <select id="selecvideolistpa" resultMap="videomap">
        SELECT * FROM video
        <where>
            `bvID` !=#{bvid} LIMIT #{pagesum},20
        </where>
    </select>


    <select id="selectlistBvid" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            bvID IN
            <foreach collection="bvidlist" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectcoutbvid" resultMap="videomap">
        SELECT COUNT(`bvChildZoning`) AS countbv,`bvChildZoning` AS bvChild
        FROM `video`
        WHERE `bvPostTime` LIKE CONCAT(#{bvPostTime},'%')
        GROUP BY `bvChildZoning`
    </select>

    <select id="videoZoningIdlist" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            <if test="bvChildZoning !=null and bvChildZoning.length>0">
                bvChildZoning IN
                <foreach collection="bvChildZoning" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND bvPostTime BETWEEN #{date} AND #{datetime} LIMIT 0,12
        </where>
    </select>

    <select id="videobvIDlist" resultType="Video">
        SELECT * FROM `video`
        <where>
            <if test="bvID != null">
                bvID=#{bvID}
            </if>
        </where>
    </select>

    <select id="videouIDlist" resultType="Integer">
        SELECT `bvID` FROM `video`
        <where>
            <if test="uID != null">
                uID=#{uID}
            </if>
        </where>
    </select>

    <select id="videocount" resultType="int">
        SELECT COUNT(*) FROM `video`
        <where>
            <if test="bvChildZoninglist !=null and bvChildZoninglist.length>0">
                bvChildZoning IN
                <foreach collection="bvChildZoninglist" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <select id="videoPagebvzoing" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            <if test="bvChildZoninglist !=null and bvChildZoninglist.length>0">
                bvChildZoning IN
                <foreach collection="bvChildZoninglist" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        <if test="pageSize!=null and pagecount!=null">
            LIMIT #{pageSize},#{pagecount}
        </if>
    </select>
    
    
    <select id="selectbvidlist" resultMap="videomap">
        SELECT * FROM `video`
        <where>
            <if test="array!=null and array.length>0">
                bvID IN
                <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
