<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamwolf.zoning.business.mapper.ZoningMapper">

    <!--<resultMap id="baseResultMap" type="Video">
        <result property="countbv" column="countbv" />
        <result property="bvChild" column="bvChild" />
    </resultMap>-->

    <select id="listInt" resultType="Video">
        SELECT COUNT(`bvChildZoning`) AS countbv,`bvChildZoning` AS bvChild
        FROM `video`
        WHERE `bvPostTime` LIKE CONCAT(#{riqi},'%')
        GROUP BY `bvChildZoning`
    </select>

    <select id="isnull" resultType="Zoning">
        SELECT * FROM `zoning`
        WHERE `zFatherID` IS NULL
    </select>
</mapper>
